.containerHome{
    background-image: url("../../assets/backgrounds/bg-table.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
}
.filtros{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
}
.button_slide {
    color: black;
    border: 3px solid rgb(57, 61, 70);
    border-radius: 50px;
    padding: 18px 36px;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: aliceblue;
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.4s ease-out;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.slide_right:hover {
    border-radius: 20px;
}
.slide_right > a{
    color: black;
    text-decoration: none;
}
h1 {
    color: black;
}
.options { 
    transition: all 0.5s; 
    color: black;
}
.options:hover { 
    cursor: pointer;
    font-size:40px;  
} 