.header{
    display: flex;
    /* background-color: #242424; */
    padding-left: 1em;
    justify-content: space-between;
    align-items: center;

}
  
.purpleBorder{
    border-color: #646cff;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav span {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav span:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav span {font-size: 18px;}
}

.menu:hover{
  cursor: pointer;
  opacity: 0.6;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: #000000;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 3px;
}

.icon{
  width: 3%;
}

.icons{
  display: flex;
  justify-content: end;
}

.icon {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  margin-top: 1.2em;
  margin-right: 1em;
  margin-bottom: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.icon:hover {
  opacity: 0.6;
}