@import "tailwindcss";
@import "primereact/resources/themes/mira/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import 'primeicons/primeicons.css';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

.p-progress-spinner-circle {
    stroke: #44403c !important;
}

.p-sidebar .p-sidebar-header + .p-sidebar-content{
    padding: 0 !important;
}

/* Hex: #81a1c1 */
/* RGB: rgb(129,161,193) */