@import "tailwindcss";
@import "primereact/resources/themes/mira/theme.css";
/*@import "primereact/resources/themes/lara-light-blue/theme.css";*/
/*@import "primereact/resources/themes/lara-light-indigo/theme.css";*/
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import 'primeicons/primeicons.css';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

.p-progress-spinner-circle {
    stroke: #44403c !important;
}

.p-sidebar .p-sidebar-header + .p-sidebar-content{
    padding: 0 !important;
}

.p-overlaypanel, .p-overlaypanel-content{
    padding: 0 !important;
}

.p-toast .p-toast-message.p-toast-message-warn {
    background: rgba(255, 242, 226, 1) !important;
    border: solid #cc8925 !important;
    border-width: 0 0 0 6px !important;
    color: #cc8925 !important;
}

.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon, .p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close {
    color: #cc8925 !important;
}

.message-own {
    background-color: #5e81ac;
}

.price-filter{
    outline-color: transparent;
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 1rem;
    font-weight: lighter;
    padding: 0.6rem;
    color: #4c566a;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
    background: #ffffff;
    border: 1px solid #d8dee9;
    border-radius: 4px;
}

.p-button {
    background-color: #000000 !important;
    border: 2px solid #000000 !important;
    color: #ffffff !important;
}

.no-bg-button {
    background: #ffffff !important;
    border: 1px solid #d8dee9 !important;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s !important;
    border-radius: 4px !important;
    outline-color: transparent !important;
}

/* Hex: #81a1c1 */
/* RGB: rgb(129,161,193) */